/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  }
  a, img, button,div {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none; /* Optional: Prevents accidental text selection */
    text-decoration: none;
  }
  